html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(fondo-pacman.jpg);
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

.pci {
    max-width: 100px;
    max-height: 100px;
}